<!DOCTYPE html>
<html>

<head lang="es">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="public/semantic/semantic.min.css" />


    <title>Formulario Prueba</title>
</head>

<body>
    <div class="ui centered grid" id="formulario_usuario">
        <div class="six wide tablet twelve wide computer column">
            <div class="ui form">

                <form class="ui form" id="formulario_crear_usuario">
                    <h3 class="ui horizontal divider header">Datos de Usuario</h3>

                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Usuario</label>
                                <input type="text" name="usuario" placeholder="Usuario" ng-model="DatosForm.usuario">
                            </div>
                            <div class="field">
                                <label>Email</label>
                                <input type="text" name="email" placeholder="Direccion Email" ng-model="DatosForm.email">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Password</label>
                                <input type="password" name="password" placeholder="Password" ng-model="DatosForm.password">
                            </div>
                            <div class="field">
                                <label>Confirmar Password</label>
                                <input type="password" name="password_confirmacion" placeholder="Confirmar Password">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Permisos</label>
                            </div>
                            <div class="field">
                                <label>Tipo de usuario</label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <label>Usuario activo</label>
                            <input type="checkbox" name="activo" ng-model="DatosForm.activo" ng-init="DatosForm.activo = true">
                        </div>
                    </div>
                    <div class="field">
                        <input type="file" name="imagen" placeholder="" ng-model-file="DatosForm.imagen">
                    </div>
                    <br>

                    <h3 class="ui horizontal divider header">Datos Personales</h3>

                    <h4 class="ui dividing header">Nombre completo</h4>

                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <input type="text" name="primer_nombre" placeholder="Primer Nombre" ng-model="DatosForm.primer_nombre">
                            </div>
                            <div class="field">
                                <input type="text" name="segundo_nombre" placeholder="Segundo Nombre" ng-model="DatosForm.segundo_nombre">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <input type="text" name="primer_apellido" placeholder="Primer Apellido" ng-model="DatosForm.primer_apellido">
                            </div>
                            <div class="field">
                                <input type="text" name="segundo_apellido" placeholder="Segundo Apellido" ng-model="DatosForm.segundo_apellido">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="three fields">
                            <div class="field">
                                <label>Cedula</label>
                                <input type="text" name="cedula" placeholder="Cedula" ng-model="DatosForm.cedula">
                            </div>
                            <div class="field">
                                <label>Fecha de nacimiento</label>
                                <input type="text" name="fecha_nacimiento" id="fecha_nacimiento" placeholder="Fecha Nacimieto" ng-model="DatosForm.fecha_nacimiento">
                            </div>
                            <div class="field">
                                <label>Sexo</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="field">
                        <div class="big positive ui right floated button" ng-click="registrar_usuario()" id="btn-registrar">Registrar</div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="semantic/semantic.min.js"></script>
</body>

</html>